@import 'https://unpkg.com/augmented-ui/augmented.css';
@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-bold-italic.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-bold.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-italic.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-medium.woff2") format("woff2"); }

.shadowrun form.character {
  font-family: "Friz Quadrata", sans-serif;
  font-size: 18px; }
  .shadowrun form.character header {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "image name" "image nature" "image vitals"; }
    .shadowrun form.character header img {
      grid-area: image;
      height: 10rem;
      object-fit: cover;
      border: none;
      margin-right: .5rem; }
    .shadowrun form.character header .field {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      margin-right: .5rem; }
    .shadowrun form.character header .field:last-child {
      margin-right: 0; }
    .shadowrun form.character header .name {
      grid-area: name; }
    .shadowrun form.character header .nature {
      grid-area: nature; }
    .shadowrun form.character header .vitals {
      grid-area: vitals; }
    .shadowrun form.character header .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
    .shadowrun form.character header label {
      font-size: .75em; }
    .shadowrun form.character header select {
      font-family: inherit;
      font-size: inherit; }
    .shadowrun form.character header option {
      font-family: inherit;
      font-size: inherit; }
    .shadowrun form.character header input::placeholder {
      font-style: italic;
      opacity: .5; }
  .shadowrun form.character nav {
    margin-top: 1rem; }
    .shadowrun form.character nav a {
      --aug-border: 5px;
      --aug-inset: 5px;
      padding: 10px;
      /* mind the gap */
      text-align: center;
      --aug-border-bg: gold;
      --aug-inset-bg: gold;
      margin-right: .5rem; }
    .shadowrun form.character nav a:last-child {
      margin-right: 0; }

.shadowrun.sheet.actor {
  min-width: 560px;
  min-height: 420px; }

.shadowrun.sheet.item {
  min-width: 460px;
  min-height: 400px; }
