.shadowrun {
   /* Sheet Tabs */
   /* Items List */
   /* Attributes */
 }
 .shadowrun .window-content {
   height: 100%;
   padding: 5px;
   overflow-y: hidden;
 }
 .shadowrun .sheet-header {
   height: 100px;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: 10px;
 }
 .shadowrun .sheet-header .profile-img {
   flex: 0 0 100px;
   height: 100px;
   margin-right: 10px;
 }
 .shadowrun .sheet-header .header-fields {
   flex: 1;
   height: 100px;
 }
 .shadowrun .sheet-header h1.charname {
   height: 50px;
   padding: 0px;
   margin: 5px 0;
   border-bottom: 0;
 }
 .shadowrun .sheet-header h1.charname input {
   width: 100%;
   height: 100%;
   margin: 0;
 }
 .shadowrun .resource {
   width: 50%;
   height: 40px;
   margin-top: 10px;
   float: left;
   text-align: center;
 }
 .shadowrun .resource input {
   width: 100px;
   height: 28px;
 }
 .shadowrun .tabs {
   height: 40px;
   border-top: 1px solid #AAA;
   border-bottom: 1px solid #AAA;
 }
 .shadowrun .tabs .item {
   line-height: 40px;
   font-weight: bold;
 }
 .shadowrun .tabs .item.active {
   text-decoration: underline;
   text-shadow: none;
 }
 .shadowrun .sheet-body {
   overflow: hidden;
 }
 .shadowrun .sheet-body .tab {
   height: 100%;
   overflow-y: auto;
 }
 .shadowrun .editor,
 .shadowrun .editor-content {
   height: 100%;
 }
 .shadowrun .items-list {
   list-style: none;
   margin: 7px 0;
   padding: 0;
   overflow-y: auto;
 }
 .shadowrun .items-list .item {
   height: 30px;
   line-height: 24px;
   padding: 3px 0;
   border-bottom: 1px solid #BBB;
 }
 .shadowrun .items-list .item img {
   flex: 0 0 24px;
   margin-right: 5px;
 }
 .shadowrun .items-list .item-name {
   margin: 0;
 }
 .shadowrun .items-list .item-controls {
   flex: 0 0 36px;
 }
 .shadowrun .attributes-header {
   padding: 5px;
   margin: 5px 0;
   background: rgba(0, 0, 0, 0.05);
   border: 1px solid #AAA;
   border-radius: 2px;
   text-align: center;
   font-weight: bold;
 }
 .shadowrun .attributes-header .attribute-label {
   flex: 1.5;
 }
 .shadowrun .attributes-header .attribute-control {
   flex: 0 0 20px;
 }
 .shadowrun .attributes-list {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .shadowrun .attributes-list li > * {
   margin: 0 3px;
   height: 28px;
   line-height: 24px;
   background: transparent;
   border: none;
   border-radius: 0;
   border-bottom: 1px solid #AAA;
 }
 .shadowrun .attributes-list a.attribute-control {
   flex: 0 0 20px;
   text-align: center;
   line-height: 28px;
   border: none;
 }
 .shadowrun.sheet.actor {
   min-width: 560px;
   min-height: 420px;
 }
 .shadowrun.sheet.item {
   min-width: 460px;
   min-height: 400px;
 }
 