@import 'https://unpkg.com/augmented-ui/augmented.css';
@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-bold-italic.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-bold.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-italic.woff2") format("woff2"); }

@font-face {
  font-family: "Friz Quadrata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/friz-quadrata-std-medium.woff2") format("woff2"); }

.shadowrun form.character {
  font-family: "Friz Quadrata", sans-serif;
  font-size: 18px; }
  .shadowrun form.character select {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit; }
  .shadowrun form.character option {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit; }
  .shadowrun form.character input {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit; }
  .shadowrun form.character input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield; }
  .shadowrun form.character input::placeholder {
    background-color: inherit;
    font-style: italic;
    opacity: .5; }
  .shadowrun form.character header {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "image name" "image nature" "image vitals"; }
    .shadowrun form.character header img {
      grid-area: image;
      height: 10rem;
      object-fit: cover;
      border: none;
      margin-right: .5rem; }
    .shadowrun form.character header .field {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      margin-right: .5rem; }
    .shadowrun form.character header .field:last-child {
      margin-right: 0; }
    .shadowrun form.character header .name {
      grid-area: name; }
    .shadowrun form.character header .nature {
      grid-area: nature; }
    .shadowrun form.character header .vitals {
      grid-area: vitals; }
    .shadowrun form.character header .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
    .shadowrun form.character header label {
      font-size: .75em; }
  .shadowrun form.character .attributes {
    height: 5.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem; }
    .shadowrun form.character .attributes .attribute {
      min-width: 5.25rem;
      text-align: center;
      padding: .25rem;
      display: flex;
      flex-flow: column nowrap;
      justify-items: flex-start;
      --aug-border: 1px;
      --aug-inset: 2px;
      --aug-border-bg: rgb(82, 81, 78);
      --aug-inset-bg: rgba(255, 255, 255, 0);
      --aug-b-width: 33%;
      --aug-b-height: 10px;
      position: relative; }
      .shadowrun form.character .attributes .attribute p {
        text-align: center;
        margin: 0; }
      .shadowrun form.character .attributes .attribute span {
        font-size: 1.125rem;
        margin-top: .25rem; }
      .shadowrun form.character .attributes .attribute .field {
        display: flex;
        flex-flow: column nowrap; }
      .shadowrun form.character .attributes .attribute input[type=number] {
        width: 2rem;
        text-align: center; }
      .shadowrun form.character .attributes .attribute input::placeholder,
      .shadowrun form.character .attributes .attribute label {
        font-size: .75rem; }
      .shadowrun form.character .attributes .attribute .field:nth-of-type(1) {
        font-size: .89rem;
        position: absolute;
        bottom: 0;
        left: 0; }
      .shadowrun form.character .attributes .attribute .field:nth-of-type(2) {
        font-size: .89rem;
        position: absolute;
        bottom: 0;
        right: 0; }
  .shadowrun form.character nav {
    margin-top: 1rem; }
    .shadowrun form.character nav a {
      --aug-border: 1px;
      --aug-inset: 2px;
      padding: .5rem;
      text-align: center;
      --aug-border-bg: rgb(82, 81, 78);
      --aug-inset-bg: rgba(255, 255, 255, 0);
      margin-right: .5rem; }
    .shadowrun form.character nav a:last-child {
      margin-right: 0; }

.shadowrun .window-content {
  height: 100%;
  overflow-y: hidden; }

.shadowrun .tab.active {
  height: 100%; }

.shadowrun .editor {
  height: 100%; }

.shadowrun.sheet.actor {
  min-width: 560px;
  min-height: 420px; }

.shadowrun.sheet.item {
  min-width: 460px;
  min-height: 400px; }
