@import 'fonts.scss';
@import 'https://unpkg.com/augmented-ui/augmented.css';

.shadowrun {

   form.character {

      font-family: "Friz Quadrata", sans-serif;
      font-size: 18px;



      select {
         background-color: inherit;
         font-family: inherit;
         font-size: inherit;
      }

      option {
         background-color: inherit;
         font-family: inherit;
         font-size: inherit;
      }

      input {
         background-color: inherit;
         font-family: inherit;
         font-size: inherit;
      }

      input[type=number] {
         -moz-appearance: textfield;
         -webkit-appearance: textfield;
      }


      input::placeholder {
         background-color: inherit;
         font-style: italic;
         opacity: .5;
      }


      header {

         display: grid;

         grid-template-columns: 10rem 1fr;
         grid-template-rows: 1fr 1fr 1fr;

         grid-template-areas:
            "image name"
            "image nature"
            "image vitals";

         img {
            grid-area: image;
            height: 10rem;
            object-fit: cover;
            border: none;
            margin-right: .5rem;
         }

         .field {
            display: flex;
            flex-flow: column nowrap;
            flex-grow: 1;
            margin-right: .5rem;
         }

         .field:last-child {
            margin-right: 0;
         }

         .name {
            grid-area: name;
         }

         .nature {
            grid-area: nature;
         }

         .vitals {
            grid-area: vitals;
         }

         .row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
         }

         label {
            font-size: .75em;
         }




      }


      .attributes {
         height: 6rem;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: stretch;
         margin-top: 1rem;



         .attribute {
            min-width: 6rem;
            text-align: center;
            padding: .5rem;

            display: flex;
            flex-flow: column nowrap;
            justify-items: flex-start;

            --aug-border: 1px;
            --aug-inset: 2px;
            --aug-border-bg: rgb(82, 81, 78);
            --aug-inset-bg: rgba(255, 255, 255, 0);

            --aug-b-width: 33%;
            --aug-b-height: 10px;

            position: relative;

            p {
               text-align: center;
               margin: 0;
            }

            span {
               font-size: 1.125rem;
               margin-top: .5rem;
            }

            .field {
               display: flex;
               flex-flow: column nowrap;
            }


            input[type=number] {
               width: 2rem;
               text-align: center;

            }

            input::placeholder,
            label {
               font-size: .75rem;
            }

            .field:nth-of-type(1) {
               font-size: .89rem;
               position: absolute;
               bottom: 0;
               left: 0;
            }

            .field:nth-of-type(2) {
               font-size: .89rem;
               position: absolute;
               bottom: 0;
               right: 0;
            }


         }

      }

      nav {
         margin-top: 1rem;

         a {
            --aug-border: 1px;
            --aug-inset: 2px;
            padding: .5rem;
            text-align: center;
            --aug-border-bg: rgb(82, 81, 78);
            --aug-inset-bg: rgba(255, 255, 255, 0);


            margin-right: .5rem;

         }

         a:last-child {
            margin-right: 0;
         }
      }

      section {}

   }

   .window-content {
      height: 100%;
      // padding: 5px;
      overflow-y: hidden;
   }

   .tab.active {
      height: 100%;
   }

   .editor {
      height: 100%;
   }

   // .sheet-header {
   //    height: 100px;
   //    overflow: hidden;
   //    display: flex;
   //    flex-direction: row;
   //    flex-wrap: wrap;
   //    justify-content: flex-start;
   //    margin-bottom: 10px;

   //    .profile-img {
   //       flex: 0 0 100px;
   //       height: 100px;
   //       margin-right: 10px;
   //    }

   //    .header-fields {
   //       flex: 1;
   //       height: 100px;
   //    }

   //    h1.charname {
   //       height: 50px;
   //       padding: 0px;
   //       margin: 5px 0;
   //       border-bottom: 0;

   //       input {
   //          width: 100%;
   //          height: 100%;
   //          margin: 0;
   //       }
   //    }
   // }

   // .resource {
   //    width: 50%;
   //    height: 40px;
   //    margin-top: 10px;
   //    float: left;
   //    text-align: center;

   //    input {
   //       width: 100px;
   //       height: 28px;
   //    }
   // }

   // /* Sheet Tabs */
   // .tabs {
   //    height: 40px;
   //    border-top: 1px solid #AAA;
   //    border-bottom: 1px solid #AAA;

   //    .item {
   //       line-height: 40px;
   //       font-weight: bold;
   //    }

   //    .item.active {
   //       text-decoration: underline;
   //       text-shadow: none;
   //    }
   // }

   // .sheet-body {
   //    overflow: hidden;

   //    .tab {
   //       height: 100%;
   //       overflow-y: auto;
   //    }
   // }

   // .editor,
   // .editor-content {
   //    height: 100%;
   // }

   // /* Items List */
   // .items-list {
   //    list-style: none;
   //    margin: 7px 0;
   //    padding: 0;
   //    overflow-y: auto;

   //    .item {
   //       height: 30px;
   //       line-height: 24px;
   //       padding: 3px 0;
   //       border-bottom: 1px solid #BBB;

   //       img {
   //          flex: 0 0 24px;
   //          margin-right: 5px;
   //       }
   //    }

   //    .item-name {
   //       margin: 0;
   //    }

   //    .item-controls {
   //       flex: 0 0 36px;
   //    }
   // }

   // /* Attributes */
   // .attributes-header {
   //    padding: 5px;
   //    margin: 5px 0;
   //    background: rgba(0, 0, 0, 0.05);
   //    border: 1px solid #AAA;
   //    border-radius: 2px;
   //    text-align: center;
   //    font-weight: bold;

   //    .attribute-label {
   //       flex: 1.5;
   //    }

   //    .attribute-control {
   //       flex: 0 0 20px;
   //    }
   // }

   // .attributes-list {
   //    list-style: none;
   //    margin: 0;
   //    padding: 0;

   //    li>* {
   //       margin: 0 3px;
   //       height: 28px;
   //       line-height: 24px;
   //       background: transparent;
   //       border: none;
   //       border-radius: 0;
   //       border-bottom: 1px solid #AAA;
   //    }

   //    a.attribute-control {
   //       flex: 0 0 20px;
   //       text-align: center;
   //       line-height: 28px;
   //       border: none;
   //    }
   // }
}

.shadowrun.sheet.actor {
   min-width: 560px;
   min-height: 420px;
}


.shadowrun.sheet.item {
   min-width: 460px;
   min-height: 400px;
}