<form class="{{cssClass}} character" autocomplete="off">
   <header>
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="picture of {{actor.img}}" />
      <div class="name row">
         <div class="field">
            <label>name:</label>
            <input type="text" name="name" value="{{actor.name}}" placeholder="NAME" title="Name" />
         </div>
         <div class="field">
            <label>alias:</label>
            <input type="text" name="data.alias" value="{{data.alias}}" placeholder="ALIAS" title="Alias" />
         </div>
      </div>
      <div class="nature row">
         <div class="field">
            <label>nature:</label>
            <select name="data.nature" title="Nature">
               {{#select data.nature}}
               <option value="mundane">Mundane</option>
               <option value="awakened">Awakened</option>
               <option value="emerged">Emerged</option>
               {{/select}}
            </select>
         </div>
         <div class="field">
            <label>metatype:</label>
            <select name="data.metatype" title="Metatype">
               {{#select data.metatype}}
               <option value="human">Human</option>
               <option value="dwarf">Dwarf</option>
               <option value="elf">Elf</option>
               <option value="ork">Ork</option>
               <option value="troll">Troll</option>
               {{/select}}
            </select>
         </div>
         <div class="field">
            <label>ethnicity:</label>
            <input type="text" name="data.ethnicity" value="{{data.ethnicity}}" placeholder="ETHNICITY" title="Ethnicity" />
         </div>
      </div>
      <div class="vitals row">
         <div class="field">
            <label>gender:</label>
            <input type="text" name="data.gender" value="{{data.gender}}" placeholder="GENDER" title="Gender" />
         </div>
         <div class="field">
            <label>age:</label>
            <input type="text" name="data.age" value="{{data.age}}" placeholder="AGE" title="Age" />
         </div>
         <div class="field">
            <label>height:</label>
            <input type="text" name="data.height" value="{{data.height}}" placeholder="HEIGHT" title="Height" />
         </div>
         <div class="field">
            <label>weight:</label>
            <input type="text" name="data.weight" value="{{data.weight}}" placeholder="WEIGHT" title="Weight" />
         </div>
      </div>
   </header>
   <div class="attributes">
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Body</p>
         <span>{{data.attributes.body.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.body.value" value="{{data.attributes.body.value}}" />
         <div class="field">
            <label>base:</label>
            <input type="number" data-dtype="Number" name="data.attributes.body.base" value="{{data.attributes.body.base}}" placeholder="base" title="Base Body" min="{{data.attributes.body.min}}" max="{{data.attributes.body.max}}" />
         </div>
         <div class="field">
            <label>adj:</label>
            <input type="number" data-dtype="Number" name="data.attributes.body.adj" value="{{data.attributes.body.adj}}" placeholder="±adj" title="Body Adjustment" />
         </div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Agility</p>
         <span>{{data.attributes.agility.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.agility.value" value="{{data.attributes.agility.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.agility.base" value="{{data.attributes.agility.base}}" placeholder="base" title="Base Agility" min="{{data.attributes.agility.min}}" max="{{data.attributes.agility.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.agility.adj" value="{{data.attributes.agility.adj}}" placeholder="±adj" title="Agility Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Reaction</p>
         <span>{{data.attributes.reaction.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.reaction.value" value="{{data.attributes.reaction.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.reaction.base" value="{{data.attributes.reaction.base}}" placeholder="base" title="Base Reaction" min="{{data.attributes.reaction.min}}" max="{{data.attributes.reaction.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.reaction.adj" value="{{data.attributes.reaction.adj}}" placeholder="±adj" title="Reaction Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Strength</p>
         <span>{{data.attributes.strength.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.strength.value" value="{{data.attributes.strength.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.strength.base" value="{{data.attributes.strength.base}}" placeholder="base" title="Base Strength" min="{{data.attributes.strength.min}}" max="{{data.attributes.strength.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.strength.adj" value="{{data.attributes.strength.adj}}" placeholder="±adj" title="Strength Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Willpower</p>
         <span>{{data.attributes.willpower.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.willpower.value" value="{{data.attributes.willpower.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.willpower.base" value="{{data.attributes.willpower.base}}" placeholder="base" title="Base Willpower" min="{{data.attributes.willpower.min}}" max="{{data.attributes.willpower.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.willpower.adj" value="{{data.attributes.willpower.adj}}" placeholder="±adj" title="Willpower Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Logic</p>
         <span>{{data.attributes.logic.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.logic.value" value="{{data.attributes.logic.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.logic.base" value="{{data.attributes.logic.base}}" placeholder="base" title="Base Logic" min="{{data.attributes.logic.min}}" max="{{data.attributes.logic.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.logic.adj" value="{{data.attributes.logic.adj}}" placeholder="±adj" title="Logic Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Intuition</p>
         <span>{{data.attributes.intuition.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.intuition.value" value="{{data.attributes.intuition.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.intuition.base" value="{{data.attributes.intuition.base}}" placeholder="base" title="Base Intuition" min="{{data.attributes.intuition.min}}" max="{{data.attributes.intuition.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.intuition.adj" value="{{data.attributes.intuition.adj}}" placeholder="±adj" title="Intuition Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Charisma</p>
         <span>{{data.attributes.charisma.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.charisma.value" value="{{data.attributes.charisma.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.charisma.base" value="{{data.attributes.charisma.base}}" placeholder="base" title="Base Charisma" min="{{data.attributes.charisma.min}}" max="{{data.attributes.charisma.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.charisma.adj" value="{{data.attributes.charisma.adj}}" placeholder="±adj" title="Charisma Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Edge</p>
         <span>{{data.attributes.edge.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.edge.value" value="{{data.attributes.edge.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.edge.base" value="{{data.attributes.edge.base}}" placeholder="base" title="Base Edge" min="{{data.attributes.edge.min}}" max="{{data.attributes.edge.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.edge.adj" value="{{data.attributes.edge.adj}}" placeholder="±adj" title="Edge Adjustment" /></div>
      </div>
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Essence</p>
         <span>{{data.attributes.essence.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.essence.value" value="{{data.attributes.essence.value}}" />
         <div class="field"><label>base:</label><input readonly type="number" data-dtype="Number" name="data.attributes.essence.base" value="{{data.attributes.essence.base}}" placeholder="base" title="Base Essence" min="{{data.attributes.essence.min}}" max="{{data.attributes.essence.max}}" step=".1" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.essence.adj" value="{{data.attributes.essence.adj}}" placeholder="±adj" title="Essence Adjustment" step=".1" /></div>
      </div>
      {{#if (isEqual data.nature 'awakened') }}
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Magic</p>
         <span>{{data.attributes.magic.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.magic.value" value="{{data.attributes.magic.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.magic.base" value="{{data.attributes.magic.base}}" placeholder="base" title="Base Magic" min="{{data.attributes.magic.min}}" max="{{data.attributes.magic.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.magic.adj" value="{{data.attributes.magic.adj}}" placeholder="±adj" title="Magic Adjustment" /></div>
      </div>
      {{/if}}
      {{#if (isEqual data.nature 'emerged') }}
      <div class="attribute" augmented-ui="b-clip-x exe">
         <p>Resonance</p>
         <span>{{data.attributes.resonance.value}}</span>
         <input type="hidden" data-dtype="Number" name="data.attributes.resonance.value" value="{{data.attributes.resonance.value}}" />
         <div class="field"><label>base:</label><input type="number" data-dtype="Number" name="data.attributes.resonance.base" value="{{data.attributes.resonance.base}}" placeholder="base" title="Base Resonance" min="{{data.attributes.resonance.min}}" max="{{data.attributes.resonance.max}}" /></div>
         <div class="field"><label>adj:</label><input type="number" data-dtype="Number" name="data.attributes.resonance.adj" value="{{data.attributes.resonance.adj}}" placeholder="adj" title="Resonance Adjustment" /></div>
      </div>
      {{/if}}

   </div>
   <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="overview" augmented-ui="tl-clip br-clip exe">OVERVIEW</a>
      <a class="item" data-tab="skills" augmented-ui="tl-clip br-clip exe">SKILLS</a>
      <a class="item" data-tab="combat" augmented-ui="tl-clip br-clip exe">COMBAT</a>
      {{#if (isEqual data.nature 'awakened') }}
      <a class="item" data-tab="magic" augmented-ui="tl-clip br-clip exe">MAGIC</a>
      {{/if}}
      {{#if (isEqual data.nature 'emerged') }}
      <a class="item" data-tab="technomancy" augmented-ui="tl-clip br-clip exe">TECHNOMANCY</a>
      {{/if}}
      <a class="item" data-tab="qualities" augmented-ui="tl-clip br-clip exe">QUALITIES</a>
      <a class="item" data-tab="augmentations" augmented-ui="tl-clip br-clip exe">AUGMENTS</a>
      <a class="item" data-tab="gear" augmented-ui="tl-clip br-clip exe">GEAR</a>
      <a class="item" data-tab="social" augmented-ui="tl-clip br-clip exe">SOCIAL</a>
      <a class="item" data-tab="journal" augmented-ui="tl-clip br-clip exe">JOURNAL</a>
   </nav>
   <section class="sheet-body">
      <div class="tab overview" data-group="primary" data-tab="overview">
         <div class="overview-content">
            <div class="tests">
               <table>
                  <thead>
                     <tr>
                        <th>Test</th>
                        <th>Formula</th>
                        <th>Dice Pool</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{#each data.overview.tests}}
                     <tr>
                        <td>{{display @key}}</td>
                        <td>{{formula}}</td>
                        <td><a data-roll='{ "test": "{{@key}}", "pool": {{pool}} }'>[{{pool}}]</a></td>
                     </tr>
                     {{/each}}
                  </tbody>
               </table>
            </div>
            <div class="other-overview"></div>
         </div>
      </div>
      <div class="tab skills" data-group="primary" data-tab="skills">
         <div class="skills-content">
            <div class="active-skills">
               <table>
                  <thead>
                     <tr>
                        <th>Active Skills</th>
                        <th>Rank</th>
                        <th>Attribute</th>
                        <th>Pool</th>
                        <th>Specialization</th>
                        <th>Expertise</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{#each data.skills.active}}
                     <tr>
                        <td>{{display @key}}</td>
                        <td>
                           <input type="number" data-dtype="Number" name="data.skills.active.{{@key}}.rank" value="{{rank}}" placeholder="rank" title="{{name}} Rank" min="0" max="{{max}}" />
                        </td>
                        <td>{{abbreviate primaryAttribute}}</td>
                        <td>[{{pool}}]</td>
                        <td><input type="text" name="data.skills.active.{{@key}}.specialization" value="{{specialization}}" placeholder="specialization" /></td>
                        <td><input type="text" name="data.skills.active.{{@key}}.expertise" value="{{expertise}}" placeholder="expertise" /></td>
                     </tr>
                     {{/each}}
                  </tbody>
               </table>
            </div>
            <div class="knowledge-skills">
               <div>
                  <span>Knowledge Skills</span>
                  <a data-control="knowledge-skills" data-action="create"><i class="fas fa-plus"></i></a>
               </div>
               <ol>
                  {{#each data.skills.knowledge}}
                  <li data-id="{{@key}}">
                     <input type="text" data-dtype="String" name="data.skills.knowledge.{{@key}}.name" value="{{name}}" placeholder="knowledge" />
                     <a data-control="knowledge-skills" data-action="delete"><i class="fas fa-trash"></i></a>
                  </li>
                  {{/each}}
               </ol>

            </div>
         </div>
      </div>
      <div class="tab combat" data-group="primary" data-tab="combat">
         <p>Stun: <input type="number" data-dtype="Number" name="data.condition.stun.value" value="{{data.condition.stun.value}}" title="Current Stun" />/{{data.condition.stun.max}} ({{data.status.stunPenalty}})</p>
         <label>adj: </label><input type="number" data-dtype="Number" name="data.condition.stun.adj" value="{{data.condition.stun.adj}}" placeholder="adj" title="Additional Stun Boxes" />
         <input type="hidden" data-dtype="Number" name="data.condition.stun.max" value="{{data.condition.stun.max}}" />

         <p>Damage: <input type="number" data-dtype="Number" name="data.condition.damage.value" value="{{data.condition.damage.value}}" title="Current Damage" />/{{data.condition.damage.max}} ({{data.status.damagePenalty}})</p>
         <label>adj: </label><input type="number" data-dtype="Number" name="data.condition.damage.adj" value="{{data.condition.damage.adj}}" placeholder="adj" title="Additional Damage Boxes" />
         <input type="hidden" data-dtype="Number" name="data.condition.damage.max" value="{{data.condition.damage.max}}" />

         <p>Overflow: <span>{{data.condition.overflow.value}}</span>/<span>{{data.condition.overflow.max}}</span></p>
         <label>adj: </label><input type="number" data-dtype="Number" name="data.condition.overflow.adj" value="{{data.condition.overflow.adj}}" placeholder="adj" title="Additional Overflow Boxes" />

         <p>Initiative: <span>{{add data.attributes.reaction.value data.attributes.intuition.value}} + {{data.initiative.physical.dice}}D6</span></p>
         <label>dice: </label><input type="number" data-dtype="Number" name="data.initiative.physical.dice" value="{{data.initiative.physical.dice}}" placeholder="dice" title="Initiative Dice" max="5" />

         <p>Astral: <span>{{add data.attributes.intuition.value data.attributes.logic.value}} + {{data.initiative.astral.dice}}D6</span></p>
         <label>dice: </label><input type="number" data-dtype="Number" name="data.initiative.astral.dice" value="{{data.initiative.astral.dice}}" placeholder="dice" title="Initiative Dice" max="5" />

         <p>Matrix AR: <span>{{data.initiative.matrixar.value}} + {{data.initiative.matrixar.dice}}D6</span></p>
         <label>dice: </label><input type="number" data-dtype="Number" name="data.initiative.matrixar.dice" value="{{data.initiative.matrixar.dice}}" placeholder="dice" title="Initiative Dice" max="5" />

         <p>Matrix VR Cold: <span>{{data.initiative.matrixvrcold.value}} + {{data.initiative.matrixvrcold.dice}}D6</span></p>
         <label>dice: </label><input type="number" data-dtype="Number" name="data.initiative.matrixvrcold.dice" value="{{data.initiative.matrixvrcold.dice}}" placeholder="dice" title="Initiative Dice" max="5" />

         <p>Matrix VR Hot: <span>{{data.initiative.matrixvrhot.value}} + {{data.initiative.matrixvrhot.dice}}D6</span></p>
         <label>dice: </label><input type="number" data-dtype="Number" name="data.initiative.matrixvrhot.dice" value="{{data.initiative.matrixvrhot.dice}}" placeholder="dice" title="Initiative Dice" max="5" />
      </div>
      {{#if (isEqual data.nature 'awakened') }}
      <div class="tab magic" data-group="primary" data-tab="magic">
         <div class="field">
            <label>tradition attribute:</label>
            <select name="data.magic.traditionAttribute" title="Tradition Attribute">
               {{#select data.magic.traditionAttribute}}
               <option value="logic">Logic</option>
               <option value="charisma">Charisma</option>
               {{/select}}
            </select>
         </div>
         <button>WIN!</button>
      </div>
      {{/if}}
      {{#if (isEqual data.nature 'emerged') }}
      <div class="tab technomancy" data-group="primary" data-tab="technomancy">
         <button>BE AWESOME!</button>
      </div>
      {{/if}}
      <div class="tab qualities" data-group="primary" data-tab="qualities">
      </div>
      <div class="tab augmentations" data-group="primary" data-tab="augmentations">
      </div>
      <div class="tab gear" data-group="primary" data-tab="gear">
      </div>
      <div class="tab social" data-group="primary" data-tab="social">
      </div>
      <div class="tab journal" data-group="primary" data-tab="journal">

         <a class="journal-control" data-action="create"><i class="fas fa-plus"></i></a>
         <ol>

         </ol>

      </div>
   </section>

</form>