<form class="{{cssClass}} wholesheet" autocomplete="off">
   {{> "systems/shadowrun6e/templates/item/parts/header.html" }}
   <nav class="tabs">
      <a class="item" data-tab="description">{{localize "SR6.Description"}}</a>
      <a class="item" data-tab="spell">{{localize "SR6.Spell"}}</a>
   </nav>
   <section class='sheetbody'>
      <div class="tab" data-tab="description">
         <div class="flexrow align-start nowrap">
            {{> "systems/shadowrun6e/templates/item/parts/description.html"}}
         </div>
      </div>
      <div class="tab" data-tab="spell">
         <div class="tabbody">
            <div class="inventory">
               <div class="scroll-area">
                  {{> "systems/shadowrun6e/templates/item/parts/spell.html" header="Spell"}}
                  {{> "systems/shadowrun6e/templates/item/parts/action.html" header="Action"}}
                  {{> "systems/shadowrun6e/templates/item/parts/damage.html" header="Damage"}}
                  {{> "systems/shadowrun6e/templates/item/parts/opposed.html" header="Opposed Test"}}
               </div>
            </div>
         </div>
      </div>
   </section>
</form>